.container {
    margin: 0 auto;
    /* padding: 2.5rem 2rem; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: cornflowerblue
}

.container>div>section {}

.alinhando {
    display: flex;
}

@media(max-width:600px) {
    .containerBaixo {
        height: 91.6vh;
    }
    .alinhando {
        display: contents;
        width: 100%;
    }
}


/* .container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
} */