.UpsideFisrt {
    /* color: black; */
    /* cor da parte de cima */
    background: var(--text);
    display: 1;
    top: 0;
    bottom: 0;
    align-content: center;
}

.UpsideFisrt>section {
    display: flex;
    align-items: center;
}

.UpsideFisrt>section>div img {
    /* border-radius: 50%; */
    width: 10rem;
    height: 4rem;
    /* margin-right: 8rem; */
}

.UpsideFisrt>section>div {
    /* demarcação de divs */
    /* background: chartreuse; */
    padding: 0 3rem 0 5rem;
}

.UpsideFisrt>section>strong {
    /* demarcação de divs */
    /* background: chartreuse; */
    /* padding: 1rem 1rem; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
}

.UpsideFisrt>section>strong>a {
    text-decoration: none;
    color: black;
}

@media(max-width:720px) {
    .UpsideFisrt>section>div {
        /* demarcação de divs */
        /* background: chartreuse; */
        padding: 0 0rem 0 0rem;
    }
}